{% extends "base.html" %}
{% load i18n %}
{% load pagination_tags fnp_prevnext %}
{% load migdal_tags %}


{% block titleextra %}{% if category %}{{ category.title }} :: {% elif entry_type %}{{ entry_type|capfirst }} :: {% endif %}{% endblock %}


{% block body %}

{% if category %}
    <h1>{% trans "Category" %}: {{ category }}</h1>
{% elif entry_type %}
    <h1>{{ entry_type|capfirst }}</h1>
{% endif %}

{% autopaginate object_list 10 as page %}

{% if object_list.promobox and page.number == 1 %}
<div id="promobox">
<ul id="promobox-switcher">
{% for object in object_list.promobox %}
    <li {% if forloop.counter == 1 %} class="active"{% endif %}>
        <a href="{{ object.get_absolute_url }}"
        >{{ forloop.counter }}</a>
    </li>
{% endfor %}
</ul>

<div id="promobox-wrapper">
<ul class="promobox">
{% for object in object_list.promobox %}
    {% entry_promobox object forloop.counter %}
{% endfor %}
</ul>
</div>

</div>
{% endif %}

{% if submit %}
    <p class="submit-link">
    <a href="{% url 'migdal_submit' %}">{% trans "Submit a new story, create Right to Culture with us!" %}</a>
    </p>
{% endif %}

{% if not object_list %}
   <p class="warning">{% trans "Work in progress." %}</p>
{% endif %}

{% for object in page %}
    {% entry_short object %}
{% endfor %}
{% prevnext %}

{% endblock %}
